<p id="notice"><%= notice %></p>

<h1>Expand Dong</h1>


<%= render 'form', expand: @expand %>

<br/>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expands.each do |expand| %>
      <tr>
        <td><%= expand.text %></td>
        <td><%= link_to 'Show', expand %></td>
        <td><%= link_to 'Edit', edit_expand_path(expand) %></td>
        <td><%= link_to 'Destroy', expand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Dongs', dongs_path %>
