<p id="notice"><%= notice %></p>

<h1>Dongs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dongs.each do |dong| %>
      <tr>
        <td><%= dong.name %></td>
        <td><%= dong.url %></td>
        <td><%= link_to 'Show', dong %></td>
        <td><%= link_to 'Edit', edit_dong_path(dong) %></td>
        <td><%= link_to 'Destroy', dong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dong', new_dong_path %>
